@font-face {
    font-family: SpaceGrotesk;
    src: url("./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf");
}
:root {
    box-sizing: border-box;
    font-size: 16px;
    --darkest: #151515;
    --darker: #242424;
    --green: #4EE1A0;
    --lighter: #D9D9D9;
    --lightest: #FFFFFF;
    --redish: #FF6F5B;
    font-family: SpaceGrotesk, sans-serif;
    color: var(--lightest);
}
*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
.headingXL {
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -2.5px;
    font-family: bold;
}
.headingL {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1.5px;
    font-family: bold;
}
.headingM {
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
}
.bodyM {
    font-size: 18px;
    font-weight:normal;
    line-height: 28px;
}
.centered-text {
    text-align: center;
}
body {
    background-color: var(--darkest);
}
h1 {
    font-family: SpaceGrotesk;
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: -1.14px;
}
h2 {
    font-family: SpaceGrotesk;
    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: -1px;
}
.green-link {
    display: inline-block;
    color: var(--lightest);
    text-decoration: underline;
    text-decoration-color: var(--green);
    text-underline-offset: 1em;
    text-decoration-thickness: 2pt;
}
.contact-link {
    /* display: inline-block; */
    text-transform: uppercase;
    /* padding-bottom: 0.5em; */
}
.author-card {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    align-items: center;
    gap: 1em;
}
.tech-icons {
    display: block;
    height: 24px;
    z-index: 2;
}
.tech-icons > img {
    padding: 0 0.5em;
}
.tech-icons > img:hover, .tech-icons > img:focus {
    cursor: pointer;
    filter: invert(15%) sepia(10%) saturate(2427%) hue-rotate(92deg) brightness(94%) contrast(86%);
    /* filter: invert(5%) sepia(22%) saturate(3953%) hue-rotate(48deg) brightness(120%) contrast(100%);} */
}

.intro-area {
    margin: -5em 0.5em 2em 0.5em;
    padding-bottom: 3em;
    border-bottom: solid 1pt var(--lightest);
}
.intro-area > * {
    margin: 1em inherit;
}
.portrait {
    position: relative;
}
#hero-image {
    width: 50%;
    position: relative;
    top: 0;
    left: 25%;
}
.portrait > img {
    position: absolute;
}
.portrait > .circle-pattern {
    top: 65%;
    left: 83%;
    z-index: 1;
}
.portrait > .ring-pattern {
    top: 33%;
    right: 45%;
    z-index: -1;
}
.narrative {
    text-align: center;
}
.narrative > * {
    margin: 1em 0;
}
.narrative > p {
    padding: 0 0.5em;
}

.skill-area {
    position: relative;
    margin: 2em 0.5;
    padding: 2em 0;
    border-bottom: solid 1pt var(--lightest);
}
.skill-area > .skill {
    padding: 1em;
    text-align: center;
}
.skill-area > .ring-pattern {
    position: absolute;
    bottom: -10%;
    left: 50%;
}
.project-area {
    margin: 2em 0.5em;
    padding: 1em 0;
}
.project-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-content: center; */
    width: 100%;
    padding-bottom: 1em;
}
.project-header > * {
    align-self: center;
}
.project-area > h1{
    flex: 1;
}
.project-area > .contact-link {
    flex: 1;
    align-self:center;
}
.project-area > .project {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.project {
    margin: 1.5em 0em;
}
.project > * {
    text-transform: uppercase;
}
.project img {
    width: 100%;
}
.project > .project-name {
    font-size: 24px;
    line-height: 32px;
    color: var(--lightest);
    margin: 0.5em 0em;
}
.project > .project-skill {
    font-size: 18px;
    color: var(--lighter);
    word-spacing: 1.5em;
}
.project > .view-links {
    display: flex;
    flex-direction: row;
    gap: 3em;
}
.project > .view-links > * {
    /* display: inline-block; */
    font-size: 16px;
    letter-spacing: 2.29px;
    line-height: 26px;
    /* padding-bottom: 0.5em; */
}
.snapshot-photo > .view-links {
    display: none;
}
.contact-area {
    position: relative;
    background-color: var(--darker);
    padding: 5em 0.5em;
    text-align: center;
    background: var(--darker) url('./assets/images/pattern-rings.svg') no-repeat;
    background-position: right 180px bottom;
}
.contact-area > h1 {
    margin-top: 1em;
}
.contact-area > p {
    margin: 1em 0em;
}
.contact-area > form {
    display: flex;
    flex-direction: column;
}
#contact-form input, #contact-form textarea, #contact-form button   {
    background: transparent;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 2em;
    padding: 0.5em 1em;
    color: var(--lighter);
    /* z-index: 1; */
}
#contact-form input, #contact-form textarea {
    display: block;
    width: 100%;
}
.input-group {
    position: relative;
    width: 100%;
}
.input-err {
    display: block;
    font-size: 12px;
    color: var(--redish);
    margin-left: auto;
    visibility: hidden;
}
.input-err.exclamation {
    display: block;
    position: absolute;
    bottom: 1.5em;
    right: 0%;
    width: 1.5em;
    height: 1.5em;
    border-radius: 0.75em;
    border: solid 1pt var(--redish);
}
#contact-form button {
    padding: 0.5em 0;
    width: 8em;
    margin-left: auto;
    color: var(--lighter);
    background-color: transparent;
    border-bottom: none;
}
/* error indication */
.input-group > input:not(:focus):not(:placeholder-shown):valid {
    border-color: var(--green);
}
.input-group > input:not(:focus):not(:placeholder-shown):invalid {
    border-color: var(--redish);
}
.input-group > input:not(:focus):not(:placeholder-shown):invalid ~ .input-err {
    visibility: visible;
}
.input-group > textarea:not(:focus):not(:placeholder-shown):valid {
    border-color: var(--green);
}
.input-group > textarea:not(:focus):not(:placeholder-shown):invalid {
    border-color: var(--redish);
}
.input-group > textarea:not(:focus):not(:placeholder-shown):invalid ~ .input-err {
    visibility: visible;
}

#contact-form button:focus, #contact-form button:hover{
    cursor: pointer;
}
/* .contact-area > img {
    position: absolute;
    bottom: 5%;
    right: 50%;
} */
/* #contact-form .email-area {
    position: relative;
}
#contact-form .email-area > input{
    width: 100%;
} */
footer {
    background-color: var(--darker);
}
footer > .author-card {
    width: calc(100% - 1em);
    margin: 0em 0.5em;
    padding: 2em 0;
    border-top: solid 2pt var(--lighter);
} 

@media only screen and (min-width: 600px) {
    h1 {
        font-size: 72px;
        line-height: 72px;
        letter-spacing: -2.05px;
    }
    .author-card {
        font-size: 32px;
        flex-direction: row;
        justify-content: space-between;
        padding: 1em;
        width: 100%;
    }
    .intro-area {
        position: relative;
    }
    #hero-image {
        width: 38%;
        position: relative;
        top: 0;
        left: 62%;
    }
    .portrait > img {
        position: absolute;
    }
    .portrait > .circle-pattern {
        top: 80%;
        left: 93%;
        z-index: 1;
    }
    .portrait > .ring-pattern {
        top: 10%;
        left: -35%;
        z-index: -1;
    }
    .narrative {
        width: 65%;
        position: absolute;
        bottom: 3em;
        left: 5%;
        text-align: left;
    }
    .narrative > h1 > span {
        display: block;
    }
    .narrative > p {
        font-size: 18px;
        line-height: 28px;
        width: 90%;
    }
    .skill-area {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-bottom: none;
        justify-items: left;
        padding: 2em;
    }
    .skill-area > .ring-pattern {
        bottom: -10%;
        left: 75%;
    }
    .project-area {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }
    .project-header {
        grid-column: 1/3;
    }
    .contact-area {
        padding-left: 10rem;
        padding-right: 10rem;
        background-position: left -365px bottom;
    }
}
@media only screen and (min-width: 1000px) {
    .intro-area, .skill-area, .project-area, header {
        margin-left: 10rem;
        margin-right: 10rem;
    }
    h1 {
        font-size: 88px;
        line-height: 88px;
        letter-spacing: -2.5px;
    }
    .narrative > h1 {
        width: 710px;
    }
    .narrative > p {
        width: 445px;
    }
    .narrative > h1 > span {
        display: inline;
    }
    .snapshot-photo {
        position: relative;
    }
    .skill-area {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .project > .view-links {
        display: none;
    }
    .snapshot-photo > .view-links {
        display:flex;
        flex-direction: column;
        align-items: center;
        place-content: center;
        gap: 4em;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    .snapshot-photo > .view-links:hover {
        z-index: 2;
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.7);
    }
    .snapshot-photo > .view-links > *:hover {
        cursor: pointer;
        color: var(--green);
    }
    .contact-area {
        display: grid;
        justify-content: space-around;
        grid-template-columns: 1fr 1fr;
        gap: 5em;
        background-position: left -180px bottom;
        padding: 5rem inherit;
    }
    .contact-area > * {
        flex: 1 1 40%;
    }
    .contact-area-header {
        justify-self: left;
    }
    .contact-area-header > * {
        text-align: left;
        padding: 2rem 5rem 0 0;
    }
}
