@font-face {
    font-family: SpaceGrotesk;
    src: url("./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf");
}
:root {
    box-sizing: border-box;
    font-size: 16px;
    --darkest: #151515;
    --darker: #242424;
    --green: #4EE1A0;
    --lighter: #D9D9D9;
    --lightest: #FFFFFF;
    font-family: SpaceGrotesk, sans-serif;
    color: var(--lightest);
}
*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.text-medium {
    font-family: SpaceGrotesk;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
}
.text-regular {
    font-family: SpaceGrotesk;
    font-size: 18px;
    font-weight:normal;
    line-height: 28px;
}
.centered-text {
    text-align: center;
}
body {
    background-color: var(--darkest);
}
h1 {
    font-family: SpaceGrotesk;
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: -1.14px;
}
h2 {
    font-family: SpaceGrotesk;
    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: -1px;
}
a.green-link {
    display: inline-block;
    color: var(--lightest);
    text-decoration: underline;
    text-decoration-color: var(--green);
    text-underline-offset: 1em;
    text-decoration-thickness: 2pt;
}
.contact-link {
    display: inline-block;
    text-transform: uppercase;
    padding-bottom: 0.5em;
}
.author-card {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    align-items: center;
    gap: 1em;
}
.tech-icons {
    display: block;
    height: 24px;
    z-index: 2;
}
.tech-icons > img {
    padding: 0 0.5em;
}

.intro-area {
    margin: -5em 0.5em 2em 0.5em;
    padding-bottom: 3em;
    border-bottom: solid 1pt var(--lightest);
}
.intro-area > * {
    margin: 1em inherit;
}
.portrait {
    position: relative;
}
#hero-image {
    width: 50%;
    position: relative;
    top: 0;
    left: 25%;
}
.portrait > img {
    position: absolute;
}
.portrait > .circle-pattern {
    top: 65%;
    left: 83%;
    z-index: 1;
}
.portrait > .ring-pattern {
    top: 33%;
    right: 45%;
    z-index: -1;
}
.narrative {
    text-align: center;
}
.narrative > * {
    margin: 1em 0;
}
.narrative > p {
    padding: 0 0.5em;
}

.skill-area {
    position: relative;
    margin: 2em 0.5;
    padding: 2em 0;
    /* border-top: solid 1pt var(--lightest); */
    border-bottom: solid 1pt var(--lightest);
}
.skill-area > .skill {
    padding: 1em;
    text-align: center;
}
.skill-area > .ring-pattern {
    position: absolute;
    bottom: -10%;
    left: 50%;
}
.project-area {
    margin: 2em 0.5em;
    padding: 1em 0;
}
.project-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-content: center; */
    width: 100%;
    padding-bottom: 1em;
}
.project-header > * {
    align-self: center;
}
.project-area > h1{
    flex: 1;
}
.project-area > .contact-link {
    flex: 1;
    align-self:center;
}
.project-area > .project {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.project {
    margin: 1.5em 0em;
}
.project > * {
    text-transform: uppercase;
}
.project img {
    width: 100%;
}
.project > .project-name {
    font-size: 24px;
    line-height: 32px;
    color: var(--lightest);
    margin: 0.5em 0em;
}
.project > .project-skill {
    font-size: 18px;
    color: var(--lighter);
    word-spacing: 1.5em;
}
.project > .view-links {
    display: flex;
    flex-direction: row;
    gap: 3em;
}
.project > .view-links > * {
    /* display: inline-block; */
    font-size: 16px;
    letter-spacing: 2.29px;
    line-height: 26px;
    /* padding-bottom: 0.5em; */
}
.snapshot-photo > .view-links {
    display: none;
}
/* .project .view-project {
    margin-right: 2em;
} */
/* .snapshot-photo .overlay-layer {
} */
.contact-area {
    position: relative;
    background-color: var(--darker);
    padding: 0.5em;
    text-align: center;
}
.contact-area > h1 {
    margin-top: 1em;
}
.contact-area > p {
    margin: 1em 0em;
}
.contact-area > form {
    display: flex;
    flex-direction: column;
}
#contact-form > input, #contact-form > textarea, #contact-form > button   {
    background-color: var(--darker);
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 2em;
    padding: 0.5em 1em;
    color: var(--lighter);
}
#contact-form input:not(:placeholder-shown):valid {
    border-color: var(--green);
}
#contact-form input:not(:placeholder-shown):invalid {
    border-color: red;
}
#contact-form > span {
    font-size: 12px;
    color: red;
    margin-left: auto;
}
#contact-form input + span, 
#contact-form input:not(:placeholder-shown):valid + span {
    display: none;
}
#contact-form input:not(:placeholder-shown):invalid + span {
    display: block;
}
#contact-form textarea + span, 
#contact-form textarea:not(:placeholder-shown):valid + span {
    display: none;
}
#contact-form textarea:not(:placeholder-shown):invalid + span {
    display: block;
}
#contact-form input:focus, #contact-form input:hover{
    outline: none;
}
#contact-form button {
    padding: 0.5em 0;
    width: 8em;
    margin-left: auto;
    color: var(--lighter);
    background-color: transparent;
}
.contact-area > img {
    position: absolute;
    bottom: 5%;
    right: 50%;
}
footer {
    background-color: var(--darker);
}
footer > .author-card {
    width: calc(100% - 1em);
    margin: 1em 0.5em;
    padding: 2em 0;
    border-top: solid 2pt var(--lighter);
} 

@media only screen and (min-width: 600px) {
    h1 {
        font-size: 72px;
        line-height: 72px;
        letter-spacing: -2.05px;
    }
    .author-card {
        font-size: 32px;
        flex-direction: row;
        justify-content: space-between;
        padding: 1em;
        width: 100%;
    }
    .intro-area {
        position: relative;
    }
    #hero-image {
        width: 38%;
        position: relative;
        top: 0;
        left: 62%;
    }
    .portrait > img {
        position: absolute;
    }
    .portrait > .circle-pattern {
        top: 80%;
        left: 93%;
        z-index: 1;
    }
    .portrait > .ring-pattern {
        top: 10%;
        right: 75%;
        z-index: -1;
    }
    .narrative {
        width: 65%;
        position: absolute;
        bottom: 3em;
        left: 5%;
        text-align: left;
    }
    .narrative > h1 > span {
        display: block;
    }
    .narrative > p {
        font-size: 18px;
        line-height: 28px;
        width: 90%;
    }
    .skill-area {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .project-area {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }
    .project-header {
        grid-column: 1/3;
    }
}
@media only screen and (min-width: 1000px) {
    .intro-area, .skill-area, .project-area, header {
        margin-left: 10rem;
        margin-right: 10rem;
    }
    h1 {
        font-size: 88px;
        line-height: 88px;
        letter-spacing: -2.5px;
    }
    .narrative > h1 {
        width: 710px;
    }
    .narrative > p {
        width: 445px;
    }
    .narrative > h1 > span {
        display: inline;
    }
    .snapshot-photo {
        position: relative;
    }
    .project > .view-links {
        display: none;
    }
    .snapshot-photo > .view-links {
        display:flex;
        flex-direction: column;
        align-items: center;
        place-content: center;
        gap: 4em;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    .snapshot-photo > .view-links:hover {
        z-index: 2;
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.7);
    }
    .snapshot-photo > .view-links > *:hover {
        cursor: pointer;
        color: var(--green);
    }
}
